.page {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 100%;
    position: absolute;
}

.page .right {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}

.page .right .center-right {
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

span {
    color: brown;
}